.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    text-shadow: 0 0 2px #000000;
    
}

button {
    margin-left: 15px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #5082ce;
    font-size: 15px;
    font-weight: bold;
    color:black;
    padding: 5px 30px;
}

.login-wrapper h1, .login-wrapper p {
    color: white;
    font-weight: bold;
}

.error {
    color: red;
}
a {
    color:rgb(197, 197, 197);
    padding: 5px;
    margin: 0 5px;
}

a:hover {
    color: white;
    padding: 5px;
    margin: 0 5px;
    border-bottom: 1px solid white;
}