.lostpswd-wrapper {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px; */
    text-shadow: 0 0 2px #000000;
    background-color: rgba(75, 68, 175, 0.8);
    border-radius: 20px;
    max-width: 600px;
    padding: 20px;
    margin: 100px auto;
    text-align: center;
    
}

.lostpswd-wrapper button {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    color:black;
    margin: 10px;
    padding: 5px 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #5082ce;
}

.lostpswd-wrapper button:hover{
    color: #e2e2e2;      
}


.lostpswd-wrapper h1, .lostpswd-wrapper p {
    color: white;
    font-weight: bold;
}

.lostpswd-wrapper .error {
    color: red;
}

.lostpswd-wrapper .response-message {
    color: rgb(40, 170, 40);
}

.lostpswd-wrapper a {
    color:rgb(197, 197, 197);
    padding: 5px;
    margin: 0 5px;
}

.lostpswd-wrapper a:hover {
    color: white;
    padding: 5px;
    margin: 0 5px;
    border-bottom: 1px solid white;
}

.lostpswd-wrapper input {
    width: 100%;
    padding: 6px 0px;
    margin: 10px 10px;
    display: inline-block;
    max-width: 45%;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 1px 5px 0px 0px #4964bb;
    background-color: #a9b4d6;
}