@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html {
  background-image: url(kibaro_BG2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #4964bb;
}

* {
  font-family: "Quicksand";
}

.greetings {
  color: white;
}