.create {
    background-color: rgba(75, 68, 175, 0.8);
    border-radius: 20px;
    max-width: 600px;
    padding: 20px;
    margin: 100px auto;
    text-align: center;
  }
  
  .create h2 {
    display: inline-block;
    font-size: 20px;
    color: #c7c7c7;
    padding: 5px 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    background-color: #4964bb;
  }
  .create textarea, .create select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
    background-color: #a9b4d6;
  }
  
  .create button {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color:black;
    padding: 5px 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #5082ce;
  }
  
  .create button:hover {
    color: #e2e2e2;
  }
  
  .create .fields {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .create .fields input {
    width: 100%;
    padding: 6px 0px;
    margin: 10px 10px;
    display: inline-block;
    max-width: 45%;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 1px 5px 0px 0px #4964bb;
    background-color: #a9b4d6;
  }
  
  .create .conditions label {
    display: block;
    text-align: center;
    color: white;
    font-weight: bold;
    margin: 10px 10px;
    padding: 10px;
  }